{% extends "dashboard/base.html" %}

{% block modalContent %}
{% if 'actors' in request.path %} {# If it's Actors site #}
<h5 class="modal-title">Add Actor</h5>
{% elif 'directors' in request.path %} {# If it's Directors site #}
<h5 class="modal-title">Add Director</h5>
{% endif %}
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
  <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
    <div class="text-right">
      <button type="submit" class="btn btn-success">Save</button>
    </div>
  </form>
</div>
{% endblock modalContent%}

{% block content %}
<div class="row">
  {% for singleLine in data %}
  <article class="media content-section col-3 mr-3" >
    {% if 'actors' in request.path %} {# If it's Actors site #}
    <a href="{% url 'actorsDetails' singleLine.id%}" style="text-decoration: none; color: black">
    {% elif 'directors' in request.path %} {# If it's Directors site #}
    <a href="{% url 'directorsDetails' singleLine.id%}" style="text-decoration: none; color: black">
    {% endif %}

    <div class="media-body">
      <div class="article-metadata">
        <h4 class="article-title mb-0">{{ singleLine.firstname }}</h4>
        <h4 class="article-title">{{ singleLine.surname }}</h4>
        {% for singleRate in ratings %}
        {% if singleRate.actors_id == singleLine.id or singleRate.director_id == singleLine.id%}
        <span class="fa fa-star checked"></span> {{ singleRate.avg_rate|floatformat }} <br />
        {% endif %}
        {% endfor %}
        <small class="text-muted pb-2">Birthday: {{singleLine.birthday }}</small>
      </div>
      <img class="article-content" src="{{ singleLine.photo }}" width="150px" height="200px" />
      <p>{{ HttpRequest.path }}</p>
    </div>
    </a>
  </article>
  {% endfor %}
</div>
{% endblock content %}

{% block contentSection %}
{% if 'actors' in request.path %} {# If it's Actors site #}
<button class="list-group-item list-group-item-light text-left" data-toggle="modal" data-target="#addDataModal">Add Actor</button>
{% elif 'directors' in request.path %} {# If it's Directors site #}
<button class="list-group-item list-group-item-light text-left" data-toggle="modal" data-target="#addDataModal">Add Director</button>
{% endif %}
{% endblock contentSection %}