{% extends "dashboard/base.html" %}
{% block content %}
    {% for singleMovie in moviesData %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <h2 class="mr-2">{{ singleMovie.title }}</h2>
              <small class="text-muted">Category: {{ singleMovie.category.name}}, Premiere date: {{ singleMovie.premier_date }}</small>
            </div>
            <div>
               <img class="article-content float-left mr-3" src="{{ singleMovie.picture }}" width="150px" height="200px"/>
               <p class="article-content">{{ singleMovie.description }}</p>
                <h5>Directors: </h5>
                <p>
                {% for singleLine in directors %}
                  {% if singleMovie.id == singleLine.id%}    {#  Tutaj trzeba zmienić if, singleMovie.id jest ok  #}
                        {{ singleLine.firstname }} {{ singleLine.surname }}
                    {% endif %}
                {% endfor %}
                </p>

{#                {% for singleLine in directors %}#}
{#                        {{ singleLine.firstname }} {{ singleLine.surname }}#}
{#                {% endfor %}#}

                <h5>Actors: </h5>
                {#                {% for singleActor in actorsData %}#}
{#                    <p>{{ ac }} {{ actorsData.actor.surname }}</p>#}
{#                {% endfor %}#}
            </div>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
