{% extends "dashboard/base.html" %}
{% load static %}


{% block modalContent %}
<h5 class="modal-title">Add Movie</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
  <form name="new_movie" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="text-right">
      <button type="submit" class="btn btn-success">Save</button>
    </div>
  </form>
</div>
{% endblock modalContent %}


{% block content %}
{% for singleMovie in moviesData %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a href="{% url 'moviesDetails' singleMovie.id%}" style="color: black">
        <h2 class="mr-2">{{ singleMovie.title }}</h2>
      </a>
      <div>{% for movieRating in movieRatings %}
        {% if movieRating.movie_id == singleMovie.id %}
        {% for i in '0123456789'|make_list %}
        {% if forloop.counter <= movieRating.avg_rate %} <span class="fa fa-star checked"></span>
          {% else %}
          <span class="fa fa-star"></span>
          {% endif %}
          {% endfor %}
          ({{ movieRating.avg_rate|floatformat }})
          {% endif %}
          {% endfor %}</div>
      <small class="text-muted">Category: {{ singleMovie.category.name }}, Premiere
        date: {{ singleMovie.premier_date }}</small>
    </div>
    <div>
      <a href="{% url 'moviesDetails' singleMovie.id%}" style="text-decoration: none; color: black">
        <img class="article-content float-left mr-3" src="{{ singleMovie.picture }}" width="150px" height="200px" />
      </a>
      <p class="article-content">{{ singleMovie.description }}</p>
      <div class="list-group">
        <h5>Directors: </h5>
        {% for movieDirector in moviesDirectors %}
        {% if movieDirector.movie_id == singleMovie.id %}
        <a href="/directors/{{ movieDirector.director_id }}">{{ movieDirector.director.firstname }} {{ movieDirector.director.surname }}</a>
        {% endif %}
        {% endfor %}
      </div>
      <h5 class="pt-2">Actors: </h5>
      <div class="list-group">
        {% for movieActor in moviesActors %}
        {% if movieActor.movie.id == singleMovie.id %}
        <a href="/actors/{{ movieActor.actor_id }}">{{ movieActor.actor.firstname }} {{ movieActor.actor.surname }}</a>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</article>
{% endfor %}
{% endblock content %}

{% block contentSection %}
<button class="list-group-item list-group-item-light text-left" data-toggle="modal" data-target="#addDataModal">
  Add Movie
</button>
{% endblock contentSection %}

{% block filterSection %}
<button class="list-group-item list-group-item-light text-left" data-toggle="collapse" data-target="#categoryFilter" data-parent="#sideMenu">Filter
</button>
<div id="categoryFilter" class="sublinks collapse">
  <form name="filter" method="POST" onchange="this.submit();">
    {% csrf_token %}
    {{ categoryForm.as_p }}
  </form>
</div>

{% endblock filterSection %}